* {
  margin: 0px;
  padding: 0px;
  /* background-color: black; */
}

body {
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

.logo {
  position: absolute;
  background: rgba(0, 0, 0, 0.001);
  box-shadow: -40px -40px 50px #222;
}

.logo img {
  z-index: -1;
  width: 200px;
  left: 50px;
  margin-left: 30px;
  margin-top: -3px;
  box-shadow: -475px -273px 465px 220px #222;
}

#home ::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
  top: 0px;
  left: 0px;
  border-bottom: 8px solid #222;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)),
    url("background.jpg") no-repeat center center/cover;
}

#language {
  float: right;
  background: rgba(0, 0, 0, 0.5);
  margin-top: 25px;
  height: 35px;
  width: 90px;
  color: #fff;
  border: 1px solid #fff;
  padding-left: 10px;
  font-size: medium;
  border-radius: 3px;
}

#btn {
  float: right;
  background-color: #e50914;
  margin: 25px 26px;
  height: 30px;
  width: 90px;
  color: #fff;
  border: none;
  /* padding: 10px; */
  font-size: medium;
  font-weight: 5px;
  border-radius: 5px;
  outline: none;
}

.text {
  display: block;
  flex-direction: column;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 200px;
}

.main-line h1 {
  font-family: "Roboto", sans-serif;
  display: inline-flex;
  justify-content: center;
  text-align: center;
  font-size: 4.125rem;
  width: 700px;
  margin-top: 250px;
  margin-left: 290px;
  margin-bottom: 0px;
}

.sec-line h3 {
  font-family: "Source Sans Pro", sans-serif;
  margin-top: 9px;
  font-size: 25px;
  margin-left: 260px;
  margin-bottom: 0px;
}

.ter-line h4 {
  font-family: "Roboto", sans-serif;
  margin: 20px 0px 10px 240px;
  font-size: 17px;
}

#Email {
  min-width: 460px;
  height: 60px;
  padding: 3px;
  padding-left: 10px;
  margin-left: 410px;
  font-size: 15px;
  margin-right: 0 !important;
  border: 1px solid gray;
  outline: none;
}

#GetStarted {
  margin: 0 !important;
  width: 235px;
  height: 67px;
  font-size: 30px;
  background-color: #e50914;
  color: #fff;
  border: none;
  cursor: pointer;
}

.smbtn {
  display: inline-flex;
  /* position: relative; */
  right: 3px;
}

/* -------------------Home Section ends---------------------  */

#text {
  margin-left: 150px;
}

#tv {
  margin-top: 171px;
  background-color: black;
  border-bottom: 8px solid #222;
  display: flex;
}

#tv img {
  position: relative;
  z-index: 2;
  margin-left: 5vh;
  margin-bottom: 10vh;
  height: 360px;
  width: 540px;
}

.Video {
  position: relative;
  height: 200px;
  width: 670px;
  right: 425px;
  top: 10px;
  margin-top: 63px;
  opacity: 0.8;
}

.TvText {
  color: #fff;
  font-family: "Netflix Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 2.825rem;
  margin-top: 120px;
  margin-left: 90px;
}

.TvSubText {
  color: #fff;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 30px;
  margin-left: 90px;
  font-weight: 400;
  display: inline-block;
  width: 550px;
}

/* -------------------Tv Section ends---------------------  */

#mobile {
  background-color: black;
  border-bottom: 8px solid #222;
  height: 465px;
}

#mob-text {
  color: #fff;
  float: right;
  position: relative;
  flex-direction: column-reverse;
  top: 110px;
  right: 180px;
}

.mob-main-text {
  font-family: "Netflix Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  width: 570px;
  position: relative;
  font-size: 3.125rem;
  line-height: 1.1;
}

.mob-sub-text {
  margin-top: 10px;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.625rem;
  position: relative;
  font-weight: 400;
  width: 500px;
}

.mob-image {
  position: relative;
  width: 464px;
  left: 125px;
}

#mob-box {
  z-index: 2;
  border: 2px solid grey;
  background-color: black;
  position: relative;
  display: flex;
  width: 300px;
  color: honeydew;
  border-radius: 0.75em;
  bottom: 120px;
  left: 210px;
}

#StrangeThingsimg {
  width: 50px;
  height: 70px;
  margin: 10px;
}

.downloading {
  font-family: "Netflix Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #0071eb;
}

.strangerthingstext {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
}

#strangerthings {
  margin: auto 0px;
}

#gif img {
  height: 50px;
  width: 50px;
  margin: 20px 0px 0px 55px;
}

/* -------------------Mobile Section ends---------------------  */

#mac {
  background-color: black;
  border-bottom: 8px solid #222;
  height: 495px;
}

#macImage {
  position: relative;
  float: right;
  top: -50px;
  right: 120px;
  width: 425px;
  z-index: 2;
}

.Video1 {
  position: relative;
  float: right;
  left: 245px;
  bottom: 55px;
  height: 200px;
  width: 315px;
}

#mactext {
  color: #fff;
  position: relative;
  width: 460px;
  top: 173px;
  left: 190px;
}

.macMainText {
  font-family: "Netflix Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  width: 570px;
  position: relative;
  font-size: 3.125rem;
  line-height: 1.1;
}

.macSubText {
  font-family: "Source Sans Pro", sans-serif;
  position: relative;
  font-size: 29px;
  font-weight: 400;
  width: 550px;
  margin-top: 10px;
}

/* -------------------Mac Section ends---------------------  */

#children {
  background-color: black;
  border-bottom: 8px solid #222;
  height: 475px;
}

.child-image {
  position: relative;
  width: 490px;
  bottom: 290px;
  right: 560px;
}

#child-text {
  display: inline-block;
  position: relative;
  /* float: right; */
  flex-direction: column-reverse;
  top: 110px;
  /* right: 180px; */
  left: 765px;
}

.child-main-text {
  font-family: "Netflix Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  width: 570px;
  position: relative;
  color: white;
  font-size: 3.125rem;
  line-height: 1.1;
}

.child-sub-text {
  margin-top: 10px;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 25px;
  position: relative;
  color: white;
  font-size: 1.625rem;
  font-weight: 400;
  width: 500px;
}

/* -------------------Children Section ends---------------------  */

#faq {
  display: flex;
  flex-direction: column;
  background-color: black;
  border-bottom: 8px solid #222;
}

.faqtext {
  color: white;
  font-family: "Netflix Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  width: 820px;
  font-size: 3.2rem;
  font-weight: bolder;
  line-height: 1.1;
  margin-top: 70px;
  margin-bottom: 70px;
  position: relative;
  left: 400px;
}

.faq-box {
  position: relative;
  width: 770px;
  height: 6vh;
  bottom: 30px;
  background-color: #333;
  left: 360px;
  margin-top: 10px;
  padding-top: 23px;
  padding-bottom: 14px;
}

.faq-box :hover {
  cursor: pointer;
}

.faq-box-text {
  font-family: "Netflix Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: white;
  width: 200px;
  top: 17px;
  font-size: 30px;
  margin: 10px 30px;
}

.plus {
  position: relative;
  float: right;
  color: white;
  font-size: 48px;
  background-color: #333;
  border: none;
  right: 23px;
  /* top: 10px; */
  bottom: 9px;
}

.faq-description {
  color: #fff;
  margin: 2px;
  background-color: #333;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.525rem;
  line-height: 1.1;
  font-weight: 500;
  width: 660px;
  position: relative;
  left: 299px;
  padding: 1.2rem;
  line-height: 1.2;
  display: none;
}

#description1,
#description2,
#description3,
#description4,
#description5,
#description6 {
  line-height: 1.3;
  width: 731px;
  left: 359px;
  bottom: 31px;
}

#description1 p,
#description3 p,
#description6 p {
  padding: 10px;
}

.ter-line-bottom {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  color: white;
  margin: 60px 0px 25px 465px;
}

#Email-bottom {
  min-width: 460px;
  height: 60px;
  padding: 3px;
  padding-left: 10px;
  margin-left: 395px;
  font-size: 15px;
  margin-right: 0 !important;
  border: 1px solid gray;
  outline: none;
}

#GetStarted-bottom {
  margin: 0 !important;
  width: 235px;
  height: 67px;
  font-size: 30px;
  background-color: #e50914;
  color: #fff;
  border: none;
  cursor: pointer;
}

.smbtn-bottom {
  margin-bottom: 90px;
  display: inline-flex;
  /* position: relative; */
  right: 3px;
}

/* -------------------FAQ Section ends---------------------  */

#autro {
  color: grey;
  background-color: black;
  height: 55vh;
  display: flex;
  flex-direction: column;
}

.question {
  font-family: "Roboto", sans-serif;
}

.question-text {
  position: relative;
  top: 50px;
  left: 280px;
}

.number {
  position: relative;
  top: 50px;
  left: 280px;
  height: 40px;
}

.number:hover {
  text-decoration: underline gray;
  cursor: pointer;
}

#ending {
  display: flex;
  position: relative;
  width: 847px;
  top: 36px;
  left: 240px;
}

.company ul li,
.Community ul li,
.Licensing ul li,
.Social ul li {
  text-decoration: none;
  list-style: none;
  margin: 20px 0px;
  font-weight: normal;
  cursor: pointer;
  font-size: 13px;
  color: #999;
  width: 128px;
}

.company ul li:hover,
.Community ul li:hover,
.Licensing ul li:hover,
.Social ul li:hover {
  text-decoration: underline gray;
}

.company,
.Community,
.Licensing,
.Social {
  margin: 20px 42px;
}

#language-bottom {
  position: relative;
  top: 25px;
  left: 280px;
  background: rgba(0, 0, 0, 0.5);
  width: 90px;
  color: #999;
  border: 0.2px solid white;
  height: 35px;
  padding-left: 10px;
  font-size: 1rem;
  border-radius: 3px;
}

#khatamhogya {
  font-size: 13px;
  font-family: "Netflix Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  position: relative;
  width: 70px;
  top: 50px;
  left: 280px;
}

.Ankush {
  position: relative;
  font-size: 2rem;
  top: 60px;
  left: 585px;
  float: right;
  color: white;
}
